@black: #000;
@white: #fcfcfc;
@white-2: #99AAB5;

@background-primary: #2c2f33;
@background-secondary: #23272A;
@accent-primary: #7289DA;
@accent-secondary: #7289DA;
@accent-thirdindary: #7289DA;
@button-color: #009688;

// Transparents
@scroll-shade: rgba(255, 255, 255, 0.1);
@gray4: rgba(35, 35, 35, 0.4);
@gray5: rgba(35, 35, 35, 0.5);
@gray6: rgba(35, 35, 35, 0.6);
@gray7: rgba(35, 35, 35, 0.7);
@gray8: rgba(35, 35, 35, 0.8);