node_modules
out
dist
tmp
lib

.vscode
.env
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

src/package-lock.json
src/package.json
src/update.ini

*.exe
*.app
*.xml.backup
*.js
!eslint.config.js

coverage
*.tsbuildinfo