html {
  transition: 0.5s background-color ease-out;
}

#header {
  background-color: #ce1d2a;
  color: white;
  width: 100%;
  height: 60px;
}

#header img {
  margin: 5px;
  width: 50px;
}

#header h1 {
  display: inline-block;
  margin: 0;
  top: 10px;
  position: absolute;
  font-weight: 900;
}

#options {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 500;
}

#options th:nth-child(1) {
  width: 90%;
}

#options th:nth-child(2) {
  width: 10%;
}

#options tbody tr {
  transition: 1s color ease-in-out, 0.75s border ease-out;
  height: 35px;
}

#options tbody tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: #ce1d2a;
  color: white;
  height: 40px;
  width: 100%;
  text-align: center;
}

#footer #close-btn {
  transition: background-color 0.2s ease-out;
  margin: 5px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

#footer #close-btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

#footer #close-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}
