/** NOTE: When this is updated, refresh ripple.js' minified version. */

/**
 * contains a ripple. Will normally grow to fixed size (200px/200px), not
 * related to the holder itself.
 */
.rippleJS {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: inherit;

  /** Forces webkit to properly contain content within border-radius. */
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

/** adds default border-radius */
.rippleJS.fill::after {  /** allows webkit/blink to tap on corners */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}
.rippleJS.fill {
  border-radius: 1000000px;  /** "large" number, but not 100% */
}

.rippleJS .ripple {
  position: absolute;
  border-radius: 100%;
  background: currentColor;
  opacity: 0.2;
  width: 0;
  height: 0;

  /** only animate transform and opacity */
  -webkit-transition: -webkit-transform 0.4s ease-out, opacity 0.4s ease-out;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;

  /** initially hidden */
  -webkit-transform: scale(0);
  transform: scale(0);

  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rippleJS .ripple.held {
  opacity: 0.4;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.rippleJS .ripple.done {
  opacity: 0.0;
}