html,
body {
  background-color: #282828;
  color: white;
}

#header {
  background-color: #596cae;
  color: white;
  width: 100%;
  height: 60px;
}

#header img {
  margin: 5px;
  width: 50px;
}

#header h1 {
  display: inline-block;
  margin: 0;
  top: 10px;
  position: absolute;
  font-weight: 900;
}

#content {
  margin: 5px;
  margin-bottom: 65px;
}

#footer {
  position: fixed;
  bottom: 0;
  background-color: #596cae;
  color: white;
  height: 60px;
  width: 100%;
}

#footer #update {
  position: relative;
  transition: background-color 0.2s ease-out;
  margin: 15px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(0, 160, 255);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

#footer #update:hover {
  background-color: rgb(0, 175, 255);
}

#footer #later {
  position: relative;
  transition: background-color 0.2s ease-out;
  float: right;
  margin: 15px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

#footer #later:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
