* {
  color: #fff;
}

html, body {
  text-align: center;
  overflow: hidden;
}

html:not(.ready) * {
  display: none;
}

#background {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  background-color: #1d1d1d;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: -1;
}

h1 {
  margin-top: 35px;
}

#name {
  margin-top: 150px;
}

#nickname p {
  position: relative;
  display: inline;
}

img {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

div {
  width: 350px;
  margin-left: 25px;
}

a {
  position: relativ;
  color: rgb(0, 150, 255);
  text-decoration: none;
}

a:after {
  content: '';
  position: absolute;
  left: 0; bottom: -7px;
  height: 4px;
  width: 0;
  transition: width .25s;
  background-color: rgb(0, 125, 255);
}

a:hover:after {
  width: 100%;
}

p {
  font-weight: 500;
}

button {
  transition: 0.25s all ease-out;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(0, 160, 255);
  color: white;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 17px;
  font-weight: 700;
}

button:hover {
  background-color: rgb(0, 175, 255);
  box-shadow: 0 0 5px 3px rgba(0, 174, 255, 0.5);
}

button:active {
  background-color: rgb(0, 145, 255);
  box-shadow: none;
}