@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow: hidden;
  width: 350px;
  height: 600px;
  max-height: 600px;
}

.dark,
.dark .tabs {
  background-color: hsl(220, 7%, 11%);
}

.dark .card-panel {
  background-color: hsl(220, 7%, 15%);
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
}

.waves-effect.waves-discord .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
   background-color: rgba(114, 137, 218, 0.4);
 }

.dark ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

.dark .switch input:not(:checked) > .lever {
  background-color: rgba(80, 80, 80, 0.5) !important;
}
 
.dark .switch input:not(:checked) > .lever:after {
  background-color: rgba(80, 80, 80, 1) !important;
}

html:not(.dark) ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
}

#tabContent {
  position: relative;
  top: 125px;
  height: calc(600px - 125px);
  overflow-y: auto;
  overflow-x: hidden;
}

#header {
  z-index: 10000;
  position: fixed;
  height: 75px;
  width: 100%;
  background-color: rgba(89, 107, 174, 1);
}

.headerTabs {
  z-index: 10000;
  position: fixed;
  top: 75px;
}

.row {
  margin-bottom: 0;
}

#header img {
  height: 75px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#pMiDHeading {
  color: #7289da;
  margin: 5px;
  margin-bottom: 10px;
  padding: 0;
  font-size: 23px;
  font-weight: 600;
}

#pMiDOption, .credit-panel {
  color: rgb(146, 146, 146);
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.dark #pMiDOption, dark .credit-panel {
  color: rgba(255, 255, 255, 0.6);
}

.card-panel .row .col {
  padding: 0;
}

#options {
  margin: 5px;
  width: calc(100% - 10px);
}

#options tr td:first-child {
  width: 80%;
}

#options tr td:last-child {
  width: 20%;
}

#options .lever {
  float: right;
  margin: 0 !important;
}

#options tr {
  border: none;
}

#options td {
  padding: 5px 0;
}

.switch {
  cursor: pointer;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #7289da;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: rgba(109, 128, 194, 0.4);
}

.yt:checked + .lever:after {
  background-color: #c43a39 !important;
}

.yt:checked + .lever {
  background-color: rgba(216, 78, 77, 0.4) !important;
}

.twitch:checked + .lever:after {
  background-color: #4b367c !important;
}

.twitch:checked + .lever {
  background-color: rgba(95, 74, 144, 0.4) !important;
}

.soundcloud:checked + .lever:after {
  background-color: #fe8031 !important;
}

.soundcloud:checked + .lever {
  background-color: rgba(255, 148, 79, 0.4) !important;
}

.netflix:checked + .lever:after {
  background-color: #cc1617 !important;
}

.netflix:checked + .lever {
  background-color: rgba(204, 22, 23, 0.4) !important;
}

.card-panel {
  margin: 10px 5px;
  padding: 14px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
}

.tabs .tab a {
  color: rgba(90, 109, 174, 0.75);
  font-weight: 500;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #7289da;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  color: #7289da;
  background-color: transparent;
}

.tabs .indicator {
  background-color: #7289da;
  box-shadow: 5px 5px black;
}

#credits table tr {
  border: none;
}

#credits table tr td {
  width: 50%;
}

.credit-panel {
  margin: 5px;
  padding: 0;
  height: 50px;
}

.credit-panel img {
  width: 40px;
  margin: 5px;
  border-radius: 50%;
  float: left;
}

.credit-panel h1 {
  font-size: 17px;
  margin: 0;
}

.credit-panel h2 {
  font-size: 15px;
  margin: 0;
}
