html,
body {
  margin: 0;
  padding: 0;
  height: 0;
  width: 325px;
  background-color: #282828;
}

* {
  color: #fff;
}

#header {
  height: 50px;
  background-color: #7289da;
  color: white;
  text-align: center;
  line-height: 50px;
}
