@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

* {
  font-family: "Roboto" !important;
  color: #fff;
}
